<p-button (click)="showDialog(null)" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Header" [(visible)]="visible" [maximizable]="true" >
  <form [formGroup]="platilloForm" (ngSubmit)="agregarPlatillo()">
    <div class="form-group">
      <label for="nombre">Nombre del platillo:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
      
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion" required></textarea>
      
    </div>
    
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" id="precio" formControlName="precio" required>
      
    </div>

    <div class="form-group">
      <label for="precio">Carreta:</label>
      <input type="number" class="form-control" id="precio" formControlName="carreta" required>
      
    </div>

    

    <!-- Agrega los campos restantes según tus necesidades (carreta e imagen) -->

    <button type="submit" [disabled]="platilloForm.invalid" class="btn btn-primary">Guardar Platillo</button>
  </form>
</p-dialog>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div class="container mt-4">
    <!-- ... Resto del contenido ... -->
    <div class="row mt-3">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Carreta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let platillo of platillos.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage); let i = index">
              <td>{{ platillo.nombre }}</td>
              <td>{{ platillo.descripcion }}</td>
              <td>{{ platillo.precio }}</td>
              <td>{{ platillo.carreta }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" (click)="showDialog(i)">
                  Editar
                </button>
                <button type="button" class="btn btn-danger" (click)="eliminarPlatillo(i)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      </div>
    </div>
  </div>