<p-button (click)="showDialog(null)" icon="pi pi-external-link" label="Agregar Platillo"></p-button>
<p-dialog header="Header" [(visible)]="visible" [maximizable]="true" >
  <form [formGroup]="platilloForm" (ngSubmit)="agregarPlatillo()">
    <div class="form-group">
      <label for="nombre">Nombre del platillo:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
      
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion" required></textarea>
      
    </div>
    
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" id="precio" formControlName="precio" required>
      
    </div>

    <div class="form-group">
      <label for="precio">Carreta:</label>
      <input type="number" class="form-control" id="precio" formControlName="carreta" required>
      
    </div>
    <button type="submit" [disabled]="platilloForm.invalid" class="btn btn-primary">Guardar Platillo</button>
  </form>
</p-dialog>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div class="container mt-4">
    <!-- ... Resto del contenido ... -->
    <div class="row mt-3">
      <p-table
    [value]="platillos"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} platillos"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Carreta</th>
          <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-platillo let-i="rowIndex">
        <tr>
              <td>{{ platillo.nombre }}</td>
              <td>{{ platillo.descripcion }}</td>
              <td>{{ platillo.precio }}</td>
              <td>{{ platillo.carreta }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" (click)="showDialog(i)">
                  Editar
                </button>
                <button type="button" class="btn btn-danger" (click)="eliminarPlatillo(platillo.keyx)">
                  Eliminar
                </button>
              </td>
            </tr>
    </ng-template>
</p-table>
    </div>
  </div>