<p-button (click)="showDialog(null)" icon="pi pi-external-link" label="Show"></p-button>
<p-dialog header="Header" [(visible)]="visible" [maximizable]="true">
  <form [formGroup]="mesaForm">
    <div class="form-group">
      <label for="numero">Número de Mesa</label>
      <input type="number" class="form-control" id="numero" formControlName="numero" />
    </div>
    <div class="form-group">
      <label for="estatus">Estatus</label>
      <input type="number" class="form-control" id="estatus" formControlName="estatus" />
    </div>
    <div class="form-group">
      <label for="habilitada">Habilitada</label>
      <input type="number" class="form-control" id="habilitada" formControlName="habilitada" />
    </div>
    <button type="button" class="btn btn-primary" (click)="agregarMesa()">Agregar Mesa</button>
  </form>
</p-dialog>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div class="container mt-4">
  <!-- ... Resto del contenido ... -->
  <div class="row mt-3">
    <div class="col">
      <!-- <table class="table">
          <thead>
            <tr>
              <th>Número</th>
              <th>Estatus</th>
              <th>Habilitada</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mesa of mesas let i = index">
              <td>{{ mesa.numeroMesa }}</td>
              <td>{{ mesa.estatus }}</td>
              <td>{{ mesa.habilitada }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" (click)="showDialog(i)">
                  Editar
                </button>
                <button type="button" class="btn btn-danger" (click)="eliminarMesa(i)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table> -->
      <p-table [value]="mesas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} mesas"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
          <tr>
            <th>Número</th>
            <th>Estatus</th>
            <th>Habilitada</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mesa let-i="rowIndex">
          <tr>
            <td>{{ mesa.numeroMesa }}</td>
            <td>{{ mesa.estatus }}</td>
            <td>{{ mesa.habilitada }}</td>
            <td>
              <button type="button" class="btn btn-info" data-toggle="modal" (click)="showDialog(i)">
                Editar
              </button>
              <button type="button" class="btn btn-danger" (click)="eliminarAgregarMesa(mesa.keyx)">
                Eliminar
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>